[Unit]
Description=WeatherLink Gateway
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ndn01
SupplementaryGroups=gpio spi i2c
WorkingDirectory=/home/ndn01/Gateway
ExecStart=/home/ndn01/Gateway/.venv/bin/python /home/ndn01/Gateway/app.py
Restart=always
RestartSec=3
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
